Repository MicrosoftDocs/azure-security-docs, pull requests merged in 2024-10, with the labels that each got.

#12 Update quick-create-net.md
  articles/key-vault/secrets/quick-create-net.md
Labels: ready-to-merge, Change sent to author, azure-key-vault/svc, aq-pr-triaged, secrets/subsvc, docs-editor-pilot, qualifies-for-auto-merge

#11 Fixed role assignment in code samples
  articles/key-vault/certificates/create-certificate.md
  articles/key-vault/certificates/quick-create-go.md
  articles/key-vault/certificates/quick-create-java.md
  articles/key-vault/certificates/quick-create-net.md
  articles/key-vault/certificates/quick-create-node.md
  articles/key-vault/certificates/quick-create-python.md
  articles/key-vault/keys/quick-create-go.md
  articles/key-vault/keys/quick-create-java.md
  articles/key-vault/keys/quick-create-net.md
  articles/key-vault/keys/quick-create-node.md
  articles/key-vault/keys/quick-create-python.md
  articles/key-vault/secrets/quick-create-go.md
  articles/key-vault/secrets/quick-create-java.md
  articles/key-vault/secrets/quick-create-net.md
  articles/key-vault/secrets/quick-create-node.md
  articles/key-vault/secrets/quick-create-python.md
Labels: ready-to-merge, Change sent to author, azure-key-vault/svc, aq-pr-triaged, secrets/subsvc

#16 Update alerts-azure-cosmos-db.md
  articles/defender-for-cloud/alerts-azure-cosmos-db.md
Labels: ready-to-merge, Change sent to author, defender-for-cloud/svc, qualifies-for-auto-merge

#6 Added Futurex to the Supported HSMs list
  articles/key-vault/keys/hsm-protected-keys-byok.md
Labels: ready-to-merge, Change sent to author, azure-key-vault/svc, aq-pr-triaged, keys/subsvc

#5 Added Futurex to the Supported HSMs list
  articles/key-vault/keys/hsm-protected-keys.md
Labels: ready-to-merge, Change sent to author, azure-key-vault/svc, aq-pr-triaged, keys/subsvc

#17 Corrected the AZ CLI for "Update tenant ID in a key vault"
  articles/key-vault/general/move-subscription.md
Labels: ready-to-merge, Change sent to author, azure-key-vault/svc, general/subsvc, aq-pr-triaged, qualifies-for-auto-merge
