Repository MicrosoftDocs/azure-security-docs, pull requests merged in 2025-04, with the labels that each got.

#58 Update concept-integration-365.md
  articles/defender-for-cloud/concept-integration-365.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, defender-for-cloud/svc

#60 Update multi-region-replication.md
  articles/key-vault/managed-hsm/multi-region-replication.md
Labels: ready-to-merge, Change sent to author, azure-key-vault/svc, needs-human-review, managed-hsm/subsvc

#59 Update defender-for-container-prerequisites-aks.md
  articles/defender-for-cloud/includes/defender-for-container-prerequisites-aks.md
Labels: ready-to-merge, Change sent to author, aq-pr-triaged, defender-for-cloud/svc

#67 Update key-management.md
  articles/key-vault/managed-hsm/key-management.md
Labels: do-not-merge, Change sent to author, azure-key-vault/svc, managed-hsm/subsvc

#68 Update enable-gated-deployment.md
  articles/defender-for-cloud/enable-gated-deployment.md
Labels: do-not-merge, Change sent to author, aq-pr-triaged, defender-for-cloud/svc
