Repository MicrosoftDocs/azure-security-docs, pull requests merged in 2025-02, with the labels that each got.

#29 Remove Typo Error In Azure CLI
  articles/key-vault/general/move-subscription.md
Labels: ready-to-merge, Change sent to author, azure-key-vault/svc, general/subsvc, aq-pr-triaged, inactive, qualifies-for-auto-merge

#48 Update faq-defender-for-storage-classic.yml
  articles/defender-for-cloud/faq-defender-for-storage-classic.yml
Labels: do-not-merge, Change sent to author, defender-for-cloud/svc, needs-human-review

#51 Update firmware-update.md
  articles/key-vault/managed-hsm/firmware-update.md
Labels: ready-to-merge, Change sent to author, azure-key-vault/svc, qualifies-for-auto-merge, managed-hsm/subsvc
